
/**font-family: 'Libre Barcode 39 Text', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Noto Serif', serif; **/
* {
    margin: 0;
    padding: 0;
    }

body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
    }

.logocontainer {
    width:40px;
    height:40px;
    position: relative;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    color: #147B40;
    border: 3px solid #147B40;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg);
    margin: 5% 0 0 5%;
    float: left;
    
}

.logocontainer > span {
    position: absolute;
    top: 25%;
    left: 20%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    transform: rotate(-45deg);
 -ms-transform: rotate(-45deg); /* IE 9 */
 -webkit-transform: rotate(-45deg); /* Safari and Chrome */
}
.navbar {
    width: 100%;
    }
.nav {
    line-height: 70px;
    border-bottom: 1px solid #EAEAE8;
    height: 70px;
    text-align: right;
    position: relative;
  }
.menu {
    margin: 0 30px 0 0;
    text-align: center;
    width: 100%;
    display: none;
     
  }

.menu a {
    clear: right;
    text-decoration: none;
    background-color: #147B40;
    margin: 0 10px;
    line-height: 70px;
    display: block;
    border-bottom: 1px solid #EAEAE8;

  }
#hamburger {
    margin: 0 30px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: block;
    color: black;
    display: block;
    cursor: pointer;
    width: 26px;
    float: right;
  }
#toggle {
    display:none;
}  
#toggle:checked + .menu {
        display: block;

      
}
  
h1 {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 48px;
    font-weight: normal;
    line-height: 150%;

}

h2 {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 36px;
    font-weight: normal;
    line-height: 180%;

}
.title {
    margin: 15% 5%; 
    }
.titletop {
    text-align: right;

}
.titlebottom {
    margin-top: 20%;
    width: 90%;
    font-size: 36px;
}
hr {
    border: 1.5px solid #147B40;
    margin: 0 5% 5% 5%;
}
.photo {
    width: 100%;
}
#me {
    margin: 5%;
}

.heading{
    margin-bottom: 5%;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 7%;
}
#languages {
    background-color: #147B40;
    padding: 5%;
    margin-top: 10%;
}
.white {
    color: white;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 48px;
    color: white;
    padding-bottom: 5%;
}
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 2.5%;
}
.box {
    text-align: center;
    width: 65%;
    margin: 5%;
}
#works{
    margin: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.projectbox{
    width: 80%;
    text-align: center;
    padding-bottom: 5%;

}
a > img {
    width: 100%;
    height: auto;
}
#contact {
    background-color: black;
    padding: 5%;
    
}
.social-icons{
    list-style: none;
    text-align: center;
}
.social-icons li{
    display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
    margin-bottom: 10px;
    color: white;
}
.social-icons .fa {
	font-size: 1.8em;
}

.social-icons .fa {

    width: 42px;
	height: 42px;
	line-height: 44px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.80);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.fa:visited {
    text-decoration: none;
}
.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}
.fa-facebook:hover{
    background-color:#3C599F;
}
.fa-github:hover {
    background-color:rgba(255, 255, 255, 0.80);
    color: #070709;
}
.fa-linkedin:hover {
    background-color: #0085AE;
}
.fa-instagram:hover {
    background-color: #e95950;
}
.fa-codepen:hover {
    background-color: rgba(255, 255, 255, 0.80);
    color: #070709;
}
form {
    width: 100%;
}

input[type=text], textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

form {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    }


::placeholder {
    font-family: 'Open Sans', sans-serif;
}

#message {
    min-height: 150px;
}

.buttonposition {
    text-align: center;
}

input[type=submit] {
    background-color: #147B40;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;    
       
}

@media (min-width: 768px){
    #hamburger {
        display: none;
    }
    .menu {
        flex-wrap: wrap;
        display: inline-flex;
        
    }
    .menu a {
        width: 20%;
        background-color: white;
        
    }
    
}}