
/**font-family: 'Libre Barcode 39 Text', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Noto Serif', serif; **/
* {
    margin: 0;
    padding: 0;
    }

body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
    }

.logocontainer {
    width:40px;
    height:40px;
    position: relative;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    color: #147B40;
    border: 3px solid #147B40;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg);
    margin: 5% 0 0 5%;
    float: left;
    -webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    cursor:pointer;
    
}

.logocontainer > span {
    position: absolute;
    top: 25%;
    left: 20%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    transform: rotate(-45deg);
 -ms-transform: rotate(-45deg); /* IE 9 */
 -webkit-transform: rotate(-45deg); /* Safari and Chrome */
}
.navbar {
    width: 100%;
    }
.nav {
    line-height: 70px;
    height: 80px;
    text-align: right;
    position: relative;
  }
.menu {
    margin: 0 30px 0 0;
    text-align: center;
    width: 100%;
    display: none;
  }

.menu a {
    clear: right;
    text-decoration: none;
    background-color: #606568;
    margin: 0 10px;
    line-height: 70px;
    display: block;
    border-bottom: 1px solid #EAEAE8;
    font-weight: bold;
    color: black;
  }
  .menu a:visited {
      color: black;
  }
#hamburger {
    padding-top: 5px;
    margin: 0 30px 10px 0;
    font-size: 26px;
    line-height: 70px;
    display: block;
    color: black;
    display: block;
    cursor: pointer;
    width: 26px;
    float: right;
  }
#toggle {
    display:none;
}  
#toggle:checked + .menu {
        display: block;
}
  
h1 {
    font-family: 'Noto Serif', serif;
    font-size: 48px;
    font-weight: normal;
    line-height: 150%;
}

h2 {
    font-family: 'Noto Serif', serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 180%;

}
.title {
    margin: 15% 5%; 
    }
.titletop {
    text-align: right;
    font-family: 'Libre Barcode 39 Text', cursive;

}
.titlebottom {
    margin-top: 20%;
    width: 90%;

}
hr {
    border: 1.5px solid #147B40;
    margin: 0 5% 5% 5%;
}
.parallax-bg {
    box-sizing: border-box;
    padding: 40px;
    margin: 0px;
    width: 100%;
    min-height: 200px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
.rocks {
    background-image: 
        url("/assets/europe1.jpg");
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);    
}
.snowboard {
    background-image: 
    url("/assets/snowboard.jpg");
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
filter: grayscale(100%);  
}
  
.photo {
    width: 100%;
}
#me {
    margin: 5%;
}

.heading{
    margin-bottom: 5%;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 7%;
}
#languages {
    background-color: #147B40;
    padding: 5%;
}
.white {
    color: white;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 48px;
    color: white;
    padding-bottom: 5%;
}
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 2.5%;
}
.box {
    text-align: center;
    width: 65%;
    margin: 5%;
}
#works{
    margin: 5%;


}
.projectbox{
    width: 80%;
    text-align: center;
    padding-bottom: 5%;

}
a > img {
    width: 100%;
    height: auto;
}
#contact {
    background-color: #606568;
    padding: 5%;
    
}
.social-icons{
    list-style: none;
    text-align: center;
}
.social-icons li{
    display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
    margin-bottom: 10px;
    color: white;
}

.social-icons .fa {
    font-size: 1.8em;
    width: 42px;
	height: 42px;
	line-height: 44px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.80);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.fa:visited {
    text-decoration: none;
}
.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}
.fa-facebook:hover{
    background-color:#3C599F;
}
.fa-github:hover {
    background-color:rgba(255, 255, 255, 0.80);
    color: #070709;
}
.fa-linkedin:hover {
    background-color: #0085AE;
}
.fa-instagram:hover {
    background-color: #e95950;
}
.fa-codepen:hover {
    background-color: rgba(255, 255, 255, 0.80);
    color: #070709;
}
.fa-free-code-camp:hover {
    background-color: #006400;
}    

form {
    width: 100%;
}

input[type=text], textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

form {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    }


::placeholder {
    font-family: 'Open Sans', sans-serif;
}

#message {
    min-height: 150px;
}

.buttonposition {
    text-align: center;
}

input[type=submit] {
    background-color: #147B40;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    cursor: pointer;
       
}
@media screen and (max-width: 768px){
    #largelogo {
        display:none;
    }
    .nosm {
        display: none;
    }
    .snowboard {
        background-position: 68% 50%;
    }
    .rocks {
        background-position: right;
    }
    h1 {
        font-size:36px;
    }
    .rocks {
        background-size: 165%;
        background-position: 25% 80%;
    }
}


@media screen and (min-width: 768px){
    .nobg {
        display: none;
    }
    #hamburger {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 10%;
        
    }
    .menu a {
        background-color: white;
        border-bottom: 2px solid white;
        padding-bottom: -4%;
    }

    .menu a:hover {
        border-bottom: 2px solid #147B40;
    }
    
    .logocontainer {
        margin-top: 10px;
    }
    .logocontainer > span {
    position: absolute;
    top: -34%;
    left: 20%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    transform: rotate(-45deg);
 -ms-transform: rotate(-45deg); /* IE 9 */
 -webkit-transform: rotate(-45deg); /* Safari and Chrome */
}
.title {
    margin: 10% ; 
    }
.nobreak {
        display: none;
    }
.titletop {
    text-align: center;
}
.titlebottom {
    text-align: center;
    margin-top: 8%;
    width: 100%;
}

.parallax-bg {
    min-height: 400px;
}
.heading h1 {
    line-height: 0%
}

p {
    margin-bottom: 3%;
}
#me {
    text-align: center;
}
#languages {
    text-align: center;  
  
}
#works {
    text-align: center;
}
#contact .heading{
    text-align: center;
}
.mecontainer {
    width: 60%;
    margin-left: 20%;
     
}
.box{
    width: 20%;
    margin: 0;
    padding: 0 10%;
}
.fa {
    background-color: black;   

}
ul{
    margin-left: -30px;
}
.social-icons li{
    margin: 15px 20px 0 20px;
    
}
.projectbox{ 
    width: 30%;
    margin: 0 1.5%;

}
#works container {
    justify-content: space-between;
}
.logocontainer:hover {
    transform: rotate(135deg);
    -ms-transform: rotate(135deg); /* IE 9 */
    -webkit-transform: rotate(135deg);
}
.logocontainer:hover > span {
    transform: rotate(-135deg);
    -ms-transform: rotate(-135deg); /* IE 9 */
    -webkit-transform: rotate(-135deg);
    color: black;
    
}
.rocks{
    background-position: 0% 60%;
}
form {
    width: 60%;
    margin-left: 20%;
}

}