
/**font-family: 'Libre Barcode 39 Text', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Noto Serif', serif; **/
* {
    margin: 0;
    padding: 0;
    }

.logocontainer {
    width:40px;
    height:40px;
    position: relative;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    color: #147B40;
    border: 3px solid #147B40;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg);
    margin: 5% 0 0 5%;
}

.logocontainer > span {
    position: absolute;
    top: 25%;
    left: 20%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    transform: rotate(-45deg);
 -ms-transform: rotate(-45deg); /* IE 9 */
 -webkit-transform: rotate(-45deg); /* Safari and Chrome */
}

h1 {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 48px;
    font-weight: normal;
    line-height: 150%;   
}

h2 {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 36px;
    font-weight: normal;
    line-height: 180%;
}
.title {
    margin: 15% 5%;  
    }
.titletop {
    text-align: right;

}
.titlebottom {
    margin-top: 20%;
    width: 90%;
    font-size: 36px;
}
hr {
    border: 1.5px solid #147B40;
    margin: 0 5% 5% 5%;
}
.photo {
    width: 100%;
}
#me {
    margin: 5%;
}

.heading{
    margin-bottom: 5%;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 7%;
}
#languages {
    background-color: #147B40;
    padding: 5%;
    margin-top: 10%;
}
.white {
    color: white;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 48px;
    color: white;
    padding-bottom: 5%;
}
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 2.5%;
}
.box {
    text-align: center;
    width: 65%;
    margin: 5%;
}
#works{
    margin: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.projectbox{
    width: 80%;
    text-align: center;
    padding-bottom: 5%;

}
a > img {
    width: 100%;
    height: auto;
}
#contact {
    background-color: black;
    padding: 5%;
    
}
